<ion-view view-title="找回密码">
 <ion-nav-buttons side="left">
        <button class=" button button-icon icon ion-chevron-left " ng-click="goBack()"></button>
    </ion-nav-buttons>
    <ion-content>
        <div class="text-center" style="margin-top: 40px;">
          
        </div>
        <div style="margin-top: 20px;">
            <form name="myForm" novalidate>
                <div class="list list-inset">

                   

                    <label class="item item-input">
                        <i class="icon ion-android-lock assertive"></i>
                        <input type="password" placeholder="输入旧密码" name="originalPwd" ng-minlength="6" ng-maxlength="32" ng-model="formUser.originalPwd" required>
                        <i class="icon ion-close-circled assertive" ng-show="myForm.newPwd.$dirty && myForm.newPwd.$invalid"></i>
                        <i class="icon ion-checkmark-circled balanced" ng-show="myForm.newPwd.$dirty && myForm.newPwd.$valid"></i>
                    </label>

                    <label class="item item-input">
                        <i class="icon ion-android-lock assertive"></i>
                        <input type="password" placeholder="输入新密码" name="newPwd" ng-minlength="6" ng-maxlength="32" ng-model="formUser.newPwd" required>
                        <i class="icon ion-close-circled assertive" ng-show="myForm.newPwd.$dirty && myForm.newPwd.$invalid"></i>
                        <i class="icon ion-checkmark-circled balanced" ng-show="myForm.newPwd.$dirty && myForm.newPwd.$valid"></i>
                    </label>

                    <label class="item item-input">
                        <i class="icon ion-android-lock assertive"></i>
                        <input type="password" placeholder="再次输入密码" name="rePassword" ng-minlength="6" ng-maxlength="32" ng-model="formUser.rePassword" required>
                        <i class="icon ion-close-circled assertive" ng-show="myForm.rePassword.$dirty && myForm.rePassword.$invalid"></i>
                        <i class="icon ion-checkmark-circled balanced" ng-show="myForm.rePassword.$dirty && myForm.rePassword.$valid"></i>
                    </label>
                    <div class="button button-block button-small button-assertive"   ng-click="doModify();" >修改</div>
                </div>
            </form>
        </div>
    </ion-content>
</ion-view>