<!-- 奖品认领时候的物流地址对话框内容 -->
<div class="list">
    <label class="item item-input item-stacked-label">
        <span class="input-label">收件人</span>
        <input type="text" ng-model="logisticsMes.receiverName">
    </label>
    <label class="item item-input item-stacked-label">
        <span class="input-label">收货地址</span>
        <input type="text" ng-model="logisticsMes.receiverAddress">
    </label>
    <label class="item item-input item-stacked-label">
        <span class="input-label">联系电话</span>
        <input type="text" ng-model="logisticsMes.receiverCellPhone" />
    </label>
</div>
