<ion-view title="购物车" ng-controller="CartCtrl">
    <ion-content>
        <ion-list  >
            <ion-item ng-repeat="item in cartItems" class="item-thumbnail-left">
                <img ng-src="{{item.thumbnail}}">
                <h2>{{item.prodName}}</h2>
                <p>剩余{{item.leftCnt}}人次</p>
                <p>参与人{{item.puredCnt}}次</p>
                <div class="cart-nums">
                    <button class="ion-ios-minus-empty button button-light cart-btn" ng-click="quantityMinus()"></button>
                    <input class="cart-inp" type="number" ng-model="quantity"  />
                    <button class="ion-ios-plus-empty button button-light cart-btn" ng-click="quantityPlus()"></button>
                </div>
                <div class="cart-price"> {{quantity*buyUnit}}元</div>
                <div class="cart-del">
                    <button class="button ion-ios-trash-outline " ng-click="delCart()"></button>
                </div>
            </ion-item>
        </ion-list>
    </ion-content>
    <div class="bar bar-footer bar-stable cart-statistics">
        <div class="title ">共<span class="theme-color">{{items.length}}</span>件商品，合计<span class="theme-color">2</span>元
        </div>
        <button class="button button-assertive">去结算</button>
    </div>
</ion-view>
