<ion-tabs class="tabs-icon-top  tabs-assertive">
    <ion-tab title="首页" icon="ion-home" href="tab/main">
        <ion-nav-view name="tab-main"></ion-nav-view>
    </ion-tab>
    <ion-tab title="所有商品" icon-off="ion-ios-keypad" icon-on="ion-ios-keypad" href="tab/allproduct">
        <ion-nav-view name="tab-allproduct"></ion-nav-view>
    </ion-tab>
    <ion-tab title="最新揭晓" icon="ion-trophy"  href="tab/lastannounce">
        <ion-nav-view name="tab-lastAnnounce"></ion-nav-view>
    </ion-tab>
    <ion-tab title="购物车" icon="ion-android-cart" href="tab/cart">
        <ion-nav-view name="tab-cart"></ion-nav-view>
    </ion-tab>
    <ion-tab title="我的云购"  icon="ion-person" href="tab/personal">
        <ion-nav-view name="tab-personal"></ion-nav-view>
    </ion-tab>
</ion-tabs>